[submodule "libs/LibStub"]
	path = libs/LibStub
	url = git@github.com:pedrozc90/LibStub.git
	branch = master
[submodule "libs/CallbackHandler-1.0"]
	path = libs/CallbackHandler-1.0
	url = git@github.com:pedrozc90/CallbackHandler-1.0.git
	branch = master
[submodule "libs/LibClassicDurations"]
	path = libs/LibClassicDurations
	url = https://github.com/rgd87/LibClassicDurations.git
	branch = master
